---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Welcome to my Portfolio">
	<main>
		<Header />
		<About />
		<Projects />
		<Contact />
		<Footer />
	</main>
</Layout>
